---
# .pre-commit-config.yaml

repos:
  # General Pre-commit Hooks (Fixes formatting issues)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python Linting and Formatting (Ruff)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # YAML Linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ["--format", "parsable", "--strict"]

  # Shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: shellcheck

  # Markdown Linting
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.23
    hooks:
      - id: pymarkdown
        name: pymarkdown
        args: ["scan"]

  # Makefile
  - repo: https://github.com/checkmake/checkmake
    rev: 0.2.2
    hooks:
      - id: checkmake
        name: checkmake (lint Makefile)
        files: ^Makefile$

  # Typo Linting
  - repo: https://github.com/crate-ci/typos
    rev: v1.39.0
    hooks:
      - id: typos
